@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

#root {
  overflow: hidden;
}

html,
body {
  max-width: 100%;
  font-family: 'Noto Sans KR', sans-serif;
}

.App {
  font-family: 'Noto Sans KR', sans-serif;
}
